.skills_container {
  .skills_buttons {
    text-align: center;

    button {
      background-color: #0381d4;
      margin: 1rem;
      border: none;
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
      width: 8rem;
      height: 2.5rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;

      &:hover {
        background-color: #02b2de;
      }
    }
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem 0rem 1rem 0rem;
    color: var(--sunset8);
  }

  .skills_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .skills_card {
    margin: auto;

    p {
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
    img {
      
        width: 5rem;
        margin: 1.5rem 0rem 0rem 0rem;
      
    }
  }


  .skills_experience {
    display: flex;
    margin: 0rem 2rem 0rem 2rem;

    .skills_experience_img {
      width: 30%;

      text-align: center;
      align-self: center;

      img {
       
        width: 100%;
      }
    }

    .skills_experience_details {
      width: 65%;
      font-size: 1.1rem;
      color: var(--sunset2);
      text-align: justify;
      margin: 1rem 2rem 0rem 2rem;

      p {
        margin: 1rem 0rem 1rem 0rem;
      }

      button {
        background-color: #0381d4;
        margin: 1rem 0rem 0rem 0rem;
        border: none;
        font-size: 1.12em;
        cursor: pointer;
        width: 12rem;
        height: 2.5rem;
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;

        &:hover {
          background-color: #02b2de;
        }

        a {
          text-decoration: none;
          color: white;
        }
    }
}

}

.skills_hobbies
{
display: flex;
font-size: 1.2rem;

.skills_hobbies_details {
    width: 100%;
    margin: 1rem 1rem 1rem 2rem;
    color: var(--sunset2);
    text-align: justify;

p {
    margin: 1rem 2rem 0rem 0rem;
}

}

.skills_hobbies_img {
width: 40%;
text-align: center;
  align-self: center;
margin: 0rem 0rem 0rem 2rem;

img {
    width: 100%;
}


}
li {
    margin: 0% 0% 0% 5%
}
}
}

@media screen and (max-width: 1024px) {
  .skills_container {
    h1 {
      font-size: 2.5rem;
    }
    .skills_list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  .skills_container {
    h1 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .skills_container {
    h1 {
      font-size: 2rem;
    }
    .skills_list {
      grid-template-columns: repeat(3, 1fr);
    }

    .skills_experience {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      .skills_experience_img {
        width: 50%;
        margin: 2rem 0rem 0rem 0rem;
      }

      .skills_experience_details {
        width: 100%;
        margin: 2rem 0rem 0rem 0rem;
      }
    }
    .skills_hobbies {
        flex-direction: column;
    
    }

  }
}
